
  <div style="border: 2px solid;width: 100%;">
    <svg id="mycanvas" width="98%" height="650px" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
      <rect id="rectSvg" fill="orange" x="50" y="50" [attr.width]="result.width" [attr.height]="result.height" />
      <rect id="pointerSvg" fill="blue" [attr.x]="result.xAxis" [attr.y]="result.yAxis" width="20" height="20" (mouseup)="updateData()" />
      </svg>
  </div>
  <div>
    <label class="lbl"> Perimeter of the rectangle: {{perimeter}}</label>
  </div>
