/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

.form-group label{
    color: gray;
}

.form-group input{
    font-weight: 500;
}

.form-group input::placeholder{
    font-weight: 300;
    color: #c0bdbd;
}

thead th{
    font-weight: 400;
}

table tbody tr:hover{
    background-color: #fffbf2;
    cursor: pointer;
}

input.invalid{
    border-color: red;
}